@using System.Globalization
@using Abp.Configuration
@using Abp.Configuration.Startup
@using Abp.Web.Mvc.Alerts
@using Abp.Web.Security.AntiForgery
@using Gsv
@using Gsv.Configuration
@using Gsv.Web.Resources
@using Gsv.Web.Views.Shared.Components.SideBarNav
@using Gsv.Web.Views.Shared.Components.TopBarTitle
@inject Gsv.Timing.AppTimes AppTimes
@inject IAbpAntiForgeryManager AbpAntiForgeryManager
@inject IMultiTenancyConfig MultiTenancyConfig
@inject IWebResourceManager WebResourceManager
@inject ISettingManager SettingManager
@inject IAlertManager AlertManager
@{
    Layout = null;
    AbpAntiForgeryManager.SetCookie(Context);
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="shortcut icon" href="~/favicon.ico">

    <title>Gsv</title>

    <environment names="Development">
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />

        <link href="~/lib/jquery-easyui-1.8.2/themes/default/easyui.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/jquery-easyui-1.8.2/themes/icon.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <environment names="Staging,Production">
        <link href="~/view-resources/Views/_Bundles/home-layout.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>

    <!-- View specific styles -->
    @RenderSection("styles", required: false)

    <script type="text/javascript">
        // This is used to get the application's root path from javascript. It's useful if you're running application in a virtual directory under IIS.
        var abp = abp || {};
        abp.appPath = '@ApplicationPath';
    </script>

</head>
<body>
    <!-- Page Loader -->
    <div id="loadingDiv" class="loading-mask">
        <i class="fa fa-spin fa-spinner"></i> 正在加载中...
    </div>
    <!-- #END# Page Loader -->

    @RenderBody()

    <environment names="Development">
        <script src="~/lib/jquery-easyui-1.8.2/jquery.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-easyui-1.8.2/jquery.easyui.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-easyui-1.8.2/locale/easyui-lang-zh_CN.js" asp-append-version="true"></script>
        <script src="~/lib/momnet/min/moment-with-locales.js" asp-append-version="true"></script>
        <script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
        <script src="~/lib/sweetalert/dist/sweetalert.min.js" asp-append-version="true"></script>
        
        
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/abp.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.jquery.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.toastr.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.blockUI.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.spin.js" asp-append-version="true"></script>
        <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.sweet-alert.js" asp-append-version="true"></script>

        <script src="~/js/main.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/_Bundles/shared-layout.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        // Localizing momentjs
        moment.locale('@CultureInfo.CurrentUICulture.Name');
    </script>

    <!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
    <script src="~/AbpServiceProxies/GetAll?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>
    <script src="~/AbpScripts/GetScripts?v=@(AppTimes.StartupTime.Ticks)" type="text/javascript"></script>

    <script src="~/lib/signalr-client/signalr.min.js" asp-append-version="true"></script>
    <script src="~/lib/abp-web-resources/Abp/Framework/scripts/libs/abp.signalr-client.js" asp-append-version="true"></script>

    @WebResourceManager.RenderScripts()

    <!-- View specific scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>