@model Gsv.Web.Models.Weixin.ListViewModel
@{
    ViewBag.Title = "盘点";
    Layout = "~/Views/Shared/_WeixinLayout.cshtml";
}

<form name="fm" action ="/Weixin/Stocktaking" method="post" onsubmit="checkSubmit()">
    <a href="javascript:add();">    
        <div class="header">
            <div class="header__title">
                <h3>@Model.PlaceInfo
                    <span style="color:red; float:right">
                        <h1>盘</h1>
                    </span>
                </h3>
            </div>
            <div class="header__desc">
                <p>@Model.Collateral</p>
            </div>
        </div>
    </a>

    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">@Model.TodaySummary</div>
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_text">
                    <h3 class="weui-media-box__title">@Model.Items[i].CreateTime &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Model.Items[i].Shelf</h3>
                    <p class="weui-media-box__desc">库存：@Model.Items[i].Quantity &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;操作人：@Model.Items[i].CreateWorker</p> 
                </div>
            </div>
        }
    </div>
</form>

@section footer
{
    <script type="text/javascript">
        var checkSubmitFlg = false; 

        function add() {
            window.fm.submit();
        }

        function checkSubmit(){ 
            if(checkSubmitFlg == true) return false; //当表单被提交过一次后checkSubmitFlg将变为true,根据判断将无法进行提交。
            checkSubmitFlg = true; 
            return true; 
        } 
    </script>
}
